

.nav > li > a {
    margin: 0px;
   padding-left: 35px;
    padding-right: 25px;
    padding-bottom: 0px;
}

.nav > li  small {
    margin: 0px;
   padding-left: 40px;
     
}

.nav > li:hover .edit-account  {
    display:block;
}

.edit-account {
    position: absolute;
    right: 20px;
    top: 10px;
}

.edit-account i {
    margin-right: 0px;
   
}

.add-account{
    margin-right: 20px;
    margin-top: 10px;
}

.edit-account  {
    display:none;
}