<ul class="nav">

  <li *ngFor="let account of Accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['account', account.AccountID, view]">
      <i class="fa fa-th-large " aria-hidden="true"> </i>
      <p> {{account.Description}}</p>
    </a>
    <div>

      <small>£ {{account.Balance}}</small>
      <button class="btn btn-sm btn-success btn-simple edit-account" (click)=editAccount(account.AccountID)><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </div>

    <div class="separator"></div>
  </li>
  <li>
    <button class="btn btn-sm btn-success btn-fill btn-icon add-account pull-right" 
    data-toggle="tooltip" data-placement="bottom" title="Add Account"
     (click)=addAcount()><i class="fa fa-plus"></i></button>

  </li>
</ul>
