$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

// Redefined Gray colors for theme
$gray-darker:            #232735;
$gray-dark:              #3a3f51;
$gray:                   #515253;
$gray-light:             #e4eaec;
$gray-lighter:           #edf1f2;

// Classic brand colors

$brand-primary:          #5d9cec;
$brand-success:          #27c24c;
$brand-info:             #23b7e5;
$brand-warning:          #ff902b;
$brand-danger:           #f05050;

// New brand colors

$brand-inverse:          #131e26;
$brand-green:            #37bc9b;
$brand-pink:             #f532e5;
$brand-purple:           #7266ba;
$brand-dark:             #3a3f51;
$brand-yellow:           #fad732;

// Brand color Variants

$amountOfLight: 10%;

$brand-primary-light:          lighten($brand-primary, $amountOfLight);
$brand-success-light:          lighten($brand-success, $amountOfLight);
$brand-info-light:             lighten($brand-info, $amountOfLight);
$brand-warning-light:          lighten($brand-warning, $amountOfLight);
$brand-danger-light:           lighten($brand-danger, $amountOfLight);
$brand-inverse-light:          lighten($brand-inverse, $amountOfLight);
$brand-green-light:            lighten($brand-green, $amountOfLight);
$brand-pink-light:             lighten($brand-pink, $amountOfLight);
$brand-purple-light:           lighten($brand-purple, $amountOfLight);
$brand-dark-light:             lighten($brand-dark, $amountOfLight);
$brand-yellow-light:           lighten($brand-yellow, $amountOfLight);

$brand-primary-dark:           darken($brand-primary, $amountOfLight);
$brand-success-dark:           darken($brand-success, $amountOfLight);
$brand-info-dark:              darken($brand-info, $amountOfLight);
$brand-warning-dark:           darken($brand-warning, $amountOfLight);
$brand-danger-dark:            darken($brand-danger, $amountOfLight);
$brand-inverse-dark:           darken($brand-inverse, $amountOfLight);
$brand-green-dark:             darken($brand-green, $amountOfLight);
$brand-pink-dark:              darken($brand-pink, $amountOfLight);
$brand-purple-dark:            darken($brand-purple, $amountOfLight);
$brand-dark-dark:              darken($brand-dark, $amountOfLight);
$brand-yellow-dark:            darken($brand-yellow, $amountOfLight);

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f5f7fa;
//** Global text color on `<body>`.
$text-color:            #515253;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

$general-border:         #cfdbe2;

$white: #fff
