<div class="row">
  <div class="col-xs-9">


    <div class="row" *ngIf="Account">
      <div [ngBusy]="isBusy"></div>
      <div class="col-xs-3">
        <small class="stats-label">Income</small>
        <h4>{{Account.CreditAmount | currencyGBP}}</h4>
      </div>

      <div class="col-xs-3">
        <small class="stats-label">Expenses</small>
        <h4>{{Account.DebitAmount | currencyGBP}}</h4>
      </div>
      <div class="col-xs-3">
        <small class="stats-label">Balance</small>
        <h4>{{Account.Balance | currencyGBP}}</h4>
        
      </div>
      <div class="col-xs-3">
        <small class="stats-label">Last Transaction</small>
        <h5>{{Account.LastTransactionDate | date}}</h5>
      </div>
    </div>


    <div class="row" style="height:300px">

      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-7">
            <h4 class="title">Monthly Cash Flow</h4>
          </div>
          <div class="col-xs-5">

          </div>
        </div>
        <canvas *ngIf="transactions" baseChart width="400" height="80" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="true" [chartType]="'bar'" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>


  </div>
  <div class="col-xs-3">

    <div class="row">
      <div class="col-xs-7">
        <h4 class="title">Top 10 Expenses</h4>
      </div>
      <div class="col-xs-5">

      </div>
    </div>
    <canvas baseChart *ngIf="pieData" [chartType]="'pie'" [options]="lineChartOptions" [datasets]="pieData.datasets" [colors]="lineChartColors"
      [labels]="pieData.labels" [legend]="true" width="100" height="80"></canvas>

  </div>
</div>

