<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\BankA.Api.dll .\BankA.Api.exe" stdoutLogEnabled="false" stdoutLogFile=".\" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 1d731b12-b166-42a5-a267-f94d262b1304-->