<div class="modal-dialog modal-lg" style="width: 1200px;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Import File</h4>
    </div>
    <div class="modal-body" style="height: 500px; overflow-x: auto;">
      <div class="alert alert-danger" *ngIf="errorMsg">
        <button type="button" aria-hidden="true" class="close">×</button>
        <span><b> Error - </b> {{errorMsg}}</span>
      </div>
      <div class="alert alert-success" *ngIf="successMsg">
        <button type="button" aria-hidden="true" class="close">×</button>
        <span><b> success - </b> {{successMsg}}</span>
      </div>
      <form class="form-horizontal" #importForm="ngForm">

          <div class="row form-group">
            <label class="col-lg-2 control-label">File</label>
            <div class="col-lg-4">
              <input type="file" (change)="onChange($event)" name="file" accept=".csv" />
            </div>
            <label class="col-lg-4 control-label">Has Headers</label>
            <div class="col-lg-2">
              <input type="checkbox" [(ngModel)]="hasHeaders" name="hasHeaders" />
            </div>
          </div>
        <table class="table table-bordered">

          <tr>
            <th *ngFor="let col of ColumnMapping; let i = index">
              <select class="form-control_" name="c{{i}}" [(ngModel)]="col.ColumnFieldMap">
                <option  *ngFor="let field of FieldNameLookup" [value]="field">  
                {{field}}
                </option>
            </select>
            </th>
          </tr>

          <tr *ngFor="let row of CsvDataJson | slice:0:5; let f = first"  [ngClass]="{ 'import-file-header': f && hasHeaders }">
            <td *ngFor="let col of ColumnMapping">{{row[col.ColumnId]}}</td>
          </tr>
          <tr>
            <td *ngFor="let col of ColumnMapping">...</td>
          </tr>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="Import()">Import</button>
      <button class="btn btn-default" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</div>