<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{Account?.Description}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      

      <li class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Last 12 Months
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Last Month</a></li>
                <li><a href="#">Last 3 Months</a></li>
                <li><a href="#">Last 6 Months</a></li>
                <li><a href="#">Last 12 Months</a></li>
                <li><a href="#">Last 24 Months</a></li>
              </ul>
      </li>

    </ul>

    

  </div>
</nav>